<div class="jumbotron d-flex align-items-center">
  <div class="container" style="width: 35rem;">
    <div class="row">
      <div class="col-12">
        <div class="row text-center mb-3">
          <div class="col-12">
            <h3>Todoapp</h3>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row mb-3">
              <div class="col-12">
                <div class="card-title display h6">
                  <i
                    class="material-icons-outlined"
                    matSuffix
                    style="font-size: 1.4rem;"
                    >sentiment_satisfied</i
                  >Reset your password
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <p>Please enter a new password to restore your account.</p>
              </div>
            </div>
            <form (submit)="onSubmit()" [formGroup]="resetForm">
            <div class="row">
              <div class="col-md-6 col-xs-12 col-sm-12 col-xl-6">
                <mat-form-field appearance="outline">
                  <mat-label>Password</mat-label>
                  <input
                    matInput
                    [type]="hide ? 'password' : 'text'"
                    formControlName="password"
                  />
                  <mat-error
                    *ngIf="resetForm.controls['password'].errors?.minlength"
                    >* Please enter atleast 6 characters</mat-error
                  >
                  <mat-error
                    *ngIf="
                      resetForm.controls['password'].touched &&
                      resetForm.controls['password'].errors?.required
                    "
                    >* This is a required field!</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-md-6 col-xs-12 col-sm-12 col-xl-6">
                <mat-form-field appearance="outline">
                  <mat-label>Confirm</mat-label>
                  <input
                    matInput
                    [type]="hide ? 'password' : 'text'"
                    formControlName="confirm"
                  />
                  <mat-error
                    *ngIf="
                      resetForm.controls['confirm'].errors
                        ?.appConfirmEqualValidator
                    "
                    >Password does not match</mat-error
                  >

                  <mat-icon
                    class="material-icons-outlined"
                    matSuffix
                    (click)="hide = !hide"
                    style="cursor: pointer"
                    >{{ hide ? "visibility_off" : "visibility" }}</mat-icon
                  >
                </mat-form-field>
              </div>
            </div>
            <button class="btn btn-success"[disabled]="!resetForm.valid"> Submit </button>
            </form>
          </div>
          </div>

        </div>
      </div>
    </div>
  </div>
