<div class="jumbotron d-flex align-items-center">
  <div class="container" style="width: 35rem;">
    <div class="row">
      <div class="col-12">
        <div class="row text-center mb-3">
          <div class="col-12">
            <h3>Todoapp</h3>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row mb-3">
              <div class="col-12">
                <div class="card-title display h6">
                  <i
                    class="material-icons-outlined"
                    matSuffix
                    style="font-size: 1.4rem;"
                    >sentiment_dissatisfied</i
                  >Reset your password
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <p>To reset your password, enter your email address below. A link will be sent to your email.</p>
              </div>
            </div>
            <mat-form-field appearance="outline" class="mb-3">
              <mat-label>email</mat-label>
              <input
                matInput
                type="email"
                name="email"
                #email="ngModel"
                ngModel
              />
              
            </mat-form-field>
            <button class="btn btn-success" (click)="onclick(email.value)" > Reset password </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
