/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";

.mat-dialog-container {
    padding: 0 !important;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
}